html{
--ultralightBlue: rgb(224, 240, 250);
--lightGray:#e4e4e4;
--cardGrey: #E4E4E4E4;
--inputGray: #ececec;
--iconGray: #9A9A9A;
--formGray: #3D3D3D;
--textGray:#464646;
--lightBlue: #34c2e0;
--enjoyingBlue: #10A7EC;
--linkEnjoyingBlue: #10A7EC;
--activeEnjoyingBlue: #fff;
--primaryBlue: #26abe3;
--darkBlue: #0073a9;
--white:#fff;
--linkBlue:#10a7ec;
--whitebg:white;
--black:#3D3D3D;
--heroGradient: linear-gradient(270deg, #2491B8 0%, #10A7EC 100%),#10A7EC;
--togglebuttonColor:#e4e4e4;
--gwhite:#fff; 
--selectedBlue: #1932be;
}

html[data-mode="dark"]
{
    --ultralightBlue: #94949417;
    --lightGray:#4f4f4f;
    --cardGrey: #4e4f50;
    --inputGray: #3e4452;
    --iconGray: #8c8fb8;
    --formGray: #5e5e5e;
    --textGray:#a7a7a7;
    --lightBlue:#8c8fb8;
    --enjoyingBlue: #242526;
    --linkEnjoyingBlue: #c5c6cc;
    --activeEnjoyingBlue: #c5c6cc;
    --primaryBlue: #40445a;
    --darkBlue: #c5c6cc;
    --white:black;
    --whitebg:#3e4042;
    --selectedBlue: #fff;
    --black:#fff;
    --heroGradient: #242526;
    --togglebuttonColor: #152a38;
    --bgwhite:#999;
    --linkBlue:#8c8fb8;
}


$ultralightBlue: var(--ultralightBlue);
$lightGray:var(--lightGray);
$cardGrey: var(--cardGrey);
$inputGray: var(--inputGray);
$iconGray:var(--iconGray);
$formGray: var(--formGray);
$textGray:var(--textGray);
$lightBlue: var(--lightBlue);
$enjoyingBlue: var(--enjoyingBlue);
$activeEnjoyingBlue: var(--activeEnjoyingBlue);
$linkEnjoyingBlue: var(--linkEnjoyingBlue);
$primaryBlue: var(--primaryBlue);
$darkBlue: var(--darkBlue);
$heroGradient:var(--heroGradient);
$sideGradient: var(--sideGradient);
$white:var(--white);
$black:var(--black);
$whitebg:var(--whitebg);
$togglebuttonColor:var(--togglebuttonColor);
$gwhite:var(--gwhite);
$linkBlue:var(--linkBlue);
$selectedBlue:var(--selectedBlue);