//font-weight
$thinWeight: 100;
$lightWeight: 300;
$regularWeight: 400;
$lowMediumWeight: 500;
$mediumWeight: 600;
$boldWeight: 700;

//font-size
$smallFont: 8px;
$regularFont: 14px;
$largeFont: 18px;
$extraLargeFont: 24px;

//breakpoint
$tablet: 768px;

//font-size-small
$smallFont-sm: 6px;
$regularFont-sm: 12px;
$largeFont-sm: 16px;
$extraLargeFont-sm: 20px;
