html {
  --ultralightBlue: rgb(224, 240, 250);
  --lightGray:#e4e4e4;
  --cardGrey: #E4E4E4E4;
  --inputGray: #ececec;
  --iconGray: #9A9A9A;
  --formGray: #3D3D3D;
  --textGray:#464646;
  --lightBlue: #34c2e0;
  --enjoyingBlue: #10A7EC;
  --linkEnjoyingBlue: #10A7EC;
  --activeEnjoyingBlue: #fff;
  --primaryBlue: #26abe3;
  --darkBlue: #1b6e80;
  --white:#fff;
  --linkBlue:#10A7EC;
  --whitebg:white;
  --black:#3D3D3D;
  --heroGradient: linear-gradient(270deg, #2491B8 0%, #10A7EC 100%),#10A7EC;
  --togglebuttonColor:#e4e4e4;
  --gwhite:#fff;
}

html[data-mode="dark"] {
  --ultralightBlue: #94949417;
  --lightGray:#4f4f4f;
  --cardGrey: #4e4f50;
  --inputGray: #3e4452;
  --iconGray: #8c8fb8;
  --formGray: #5e5e5e;
  --textGray:#a7a7a7;
  --lightBlue:#8c8fb8;
  --enjoyingBlue: #242526;
  --linkEnjoyingBlue: #c5c6cc;
  --activeEnjoyingBlue: #c5c6cc;
  --primaryBlue: #40445a;
  --darkBlue: #c5c6cc;
  --white:black;
  --whitebg:#3e4042;
  --black:#fff;
  --heroGradient: #242526;
  --togglebuttonColor: #152a38;
  --bgwhite:#999;
  --linkBlue:#8c8fb8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

.fontAwesome {
  color: black;
  padding-left: 10px;
  font-family: Arial, FontAwesome;
  margin: 10px;
  background-color: white;
  border: white;
  border-radius: 8px;
  width: 270px;
  height: 40px;
  outline: none;
}

.fontAwesome::-webkit-input-placeholder {
  color: var(--iconGray);
}

.fontAwesome:-ms-input-placeholder {
  color: var(--iconGray);
}

.fontAwesome::-ms-input-placeholder {
  color: var(--iconGray);
}

.fontAwesome::placeholder {
  color: var(--iconGray);
}

input {
  color: var(--iconGray);
}

#date-input {
  content: "Date of birth" !important;
  color: black !important;
}

.wrapper {
  margin-top: 10vh;
  margin-right: 10%;
  margin-left: 10%;
}

.wrapper__header {
  padding-top: 30px;
}

.wrapper__text {
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.wrapper__container {
  padding: 10px;
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: black;
}

.wrapper__welcome span {
  color: var(--enjoyingBlue);
}

.wrapper__welcome h1 {
  font-weight: 700;
  text-align: center;
}

.wrapper__welcome img {
  width: 100px;
  height: 100px;
}

.wrapper.right-panel-active .wrapper__signUp {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  z-index: 2;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.wrapper.right-panel-active .wrapper__signIn {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0;
}

.wrapper__form {
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background: var(--heroGradient);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapper__signIn {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  padding-bottom: 80px;
  z-index: 1;
}

.wrapper__signIn h2 {
  color: white;
  padding-bottom: 20px;
}

.wrapper__signIn label {
  color: white;
  vertical-align: top;
}

.wrapper__signIn input[type="checkbox"] {
  margin-top: 2px;
  margin-right: 2px;
}

.wrapper__signUp {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: white;
  padding-top: 40px;
  margin-top: 40px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.wrapper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  font-size: 12px;
  color: var(--iconGray);
  margin-top: -15px;
  margin-bottom: 0px;
}

.wrapper input[type="date"] {
  -webkit-appearance: none !important;
}

.wrapper h2 {
  font-weight: 700 !important;
}

.wrapper__button {
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: none !important;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 8px 40px;
  color: var(--enjoyingBlue);
}

.wrapper__button--switch {
  border-radius: 0px;
  margin: 40px 40px;
  margin-top: 30px;
  color: white;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.wrapper__button--switch:focus {
  border-bottom: 2px solid white;
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  font-weight: 700;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

a {
  color: white !important;
}

hr {
  border: 5px solid white;
}

@media only screen and (max-width: 991px) {
  .wrapper__form {
    width: auto;
  }
  .wrapper__button--switch {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */